@charset utf-8

/* a basic
    sample
  */

$bg: blue
body {
  font: Arial;
  background: $bg;
}

%tmp {
  float: right
}

#page {
  width: 700px;
  height: 100;
  #header {
    height: 300px ;
    h1 {
      font-size:50px;
      color:     blue;
    }
  }
}

/*!
    important multiline comment
  */

// ._.
//! important single line comment

#content.user.show{
  #container.top {
    #column.left {
      width: 100px
    }
    #column.right {
      width: 600px
    }
  }
  #container.bottom {
    background: brown
  }}

